@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Poppins', sans-serif;
    --color-primary: #3C4CAD;
    --color-primary-light: #E8A49C;
    --color-primary-dark: #252B42;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    min-height: 100vh;
    background: linear-gradient(to bottom left, #4B4D4F, #CE1141);
}

.button-login {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.parking-icon {
    @apply text-black text-4xl;
}

.grayed-out {
    opacity: 0.5;
    pointer-events: none;
}
